@font-face {
font-family: Korolev Heavy;
font-weight: normal;
src:url(fonts/KorolevHeavy.woff);
}

@font-face {
font-family: Korolev Light;
src:url(fonts/KorolevLight.woff);
}


@font-face {
font-family: Korolev Medium Italic;
src:url(fonts/KorolevMediumItalic.woff);
}


@font-face {
font-family: Korolev Medium;
src:url(fonts/KorolevMedium.woff);
}

@font-face {
font-family: Korolev Bold;
src:url(fonts/KorolevBold.woff);
}
@font-face {
font-family: LexiaBold;
src:url(fonts/lexia-dama.otf);
}